<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.0/phpunit.xsd"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    bootstrap="bootstrap.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
    executionOrder="default"
    requireCoverageMetadata="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnPhpunitDeprecations="true"
>

<source>
    <include>
        <directory suffix=".php">../lib</directory>
    </include>
</source>

<testsuites>
    <testsuite name="Charset">
        <file>cases/TestCharset.php</file>
    </testsuite>
    <testsuite name="Tokenizer">
        <file>cases/TestTokenizer.php</file>
    </testsuite>
    <testsuite name="Tree">
        <file>cases/TestTreeConstructor.php</file>
    </testsuite>
    <testsuite name="Parser">
        <file>cases/TestParser.php</file>
    </testsuite>
    <testsuite name="DOMParser">
        <file>cases/TestDOMParser.php</file>
        <file>cases/TestDOMParserNew.php</file>
    </testsuite>
    <testsuite name="Serializer">
        <file>cases/TestSerializer.php</file>
    </testsuite>
    <testsuite name="Encoding change">
        <file>cases/TestEncodingChange.php</file>
    </testsuite>
</testsuites>
</phpunit>